/* Light mode */
.DocSearch {
  border-radius: 8px;
  background: #f6f6f7;
  color: #7b7b80;
}

.DocSearch-Button {
  border: 1px solid #d1d5db;
}

.DocSearch-Button:hover {
  border-color: #8b92d2;
}

/* Dark mode */
html.dark .DocSearch {
  background: #161618;
  color: #7b7b80;
}

html.dark .DocSearch-Button {
  border: 1px solid #333;
}

html.dark .DocSearch-Button:hover {
  border-color: #8b92d2;
  background-color: #1f1f1f;
  color: #fff;
}

/* Style SUCCESS for ::: tip */
.custom-block.tip {
  border-color: var(--vp-c-success-soft);
  color: var(--vp-custom-block-info-text);
  background-color: var(--vp-c-success-soft);
  border: 0px;
}

.custom-block.tip a,
.custom-block.tip code {
  color: var(--vp-c-success-1);
}

.custom-block.tip a:hover,
.custom-block.tip a:hover > code {
  color: var(--vp-c-success-2);
}

.custom-block.tip code {
  background-color: var(--vp-c-success-soft);
}
